<header class="header">
  <div class="container">
    <div class="header_wrapper">
      <nav class="navigation">
        <a class="nav_link" href="./index.html">Home</a>
        <div class="favorite">
          <p class="nav_link nav_link_fav">Favorite</p>
          <svg
            class="favorite_icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.99951 9L11.9995 15L17.9995 9"
              stroke="#7E8FDD"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="favorite_wrapper">
          <ul class="nav_favorite_link_list">
            <li class="nav_favorite_link_list">
              <a class="nav_favorite_link_list_item" href="./favorite.html"
                >Favorite coctails</a
              >
            </li>
            <li class="nav_favorite_link_list">
              <a class="nav_favorite_link_list_item" href="./ingredients.html"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <a href="#" class="logo_link">Drinkify</a>
      <input type="checkbox" name="toggle" class="header_toggle" />
    </div>
  </div>
</header>
