<div class="paginator">
  <div class="container">
    <div class="pages_wrapper">
      <div class="pages_wrapper_item_left">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_14070_1750)">
            <path
              d="M10.9087 12.5L16 17.5558L14.5456 19L8 12.5L14.5456 6L16 7.44422L10.9087 12.5Z"
              fill="#242424"
              fill-opacity="0.4"
            />
          </g>
          <defs>
            <clipPath id="clip0_14070_1750">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="pages_wrapper_item">
        <ul class="page_list"></ul>
      </div>
      <div class="pages_wrapper_item_right">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_14070_1769)">
            <path
              d="M15.2732 14.5833L9.33335 20.4817L11.0301 22.1667L18.6667 14.5833L11.0301 7L9.33335 8.68492L15.2732 14.5833Z"
              fill="#7E8FDD"
            />
          </g>
          <defs>
            <clipPath id="clip0_14070_1769">
              <rect
                width="28"
                height="28"
                fill="white"
                transform="matrix(-1 0 0 1 28 0)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>
